
.containerDiv {
    height: 90%;
    display: flex;
    background-color: rgb(243, 242, 242);
}

.sidebarDiv {
    height: 100%;
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.sidebarChild {
    flex-basis: 90%;
    background-color: white;
    border: solid 2px whitesmoke;
}

.sidebarBiggerChild {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hospitalImg {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-self: center;
}

.hospitalName {
    align-self: center;
    font-weight: bold;
    font-size: x-large;
}

.locationDiv {
    display: flex;
    flex-direction: row;
}

.locationInfo {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
}

.sidebarSmallerChild p {
    text-align: center;
}

.cardHeader {
    background-color: #4ABBA9;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: large;
}

.phoneIcon {
    padding-right: 5px;
    color: gray;
    font-size: 25px;
}

.body {
    height: 100%;
    flex-basis: 82%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.headerDiv {
    flex-basis: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerChild {
    height: 90%;
    background-color: white;
    border: solid 2px whitesmoke;  
}

.headerSmallerChild {
    flex-basis: 30%;
    display: flex;
    justify-content: space-around;
}

.headerBiggerChild {
    flex-basis: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.timeIcon {
    color: gray;
    font-size: 30px;
    padding-right: 5px;
}

.bedDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.regulationUl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: square;
}


.reservBtn {
    background-color: #4ABBA9;
    color: white;
    border: none;    
    width: 100%;
    font-weight: bold;
}

.reservBtn:hover {
    background-color: rgb(107, 214, 196);
    border: none;
}

.content {
    flex-basis: 60%;
    width: 95%;
    align-items: center;
}

.bedsDiv {
    height: 90%;
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.bedCard {
    // height: 80%;
    flex-basis: 90%;
    display: flex;
    justify-content: space-around;
}


.modalBtn {
    background-color: #4ABBA9;
    border: none;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: large;
}

.modalBtn:hover {
    background-color: rgb(107, 214, 196);
    border: none;
}

.bedModal {
    border: solid 1px rgb(107, 214, 196);
}