
#hospitalProfile {
    height: 90%;
    width: 100%;
    display: flex;
    background-color: rgb(243, 242, 242);
}

.body {
    height: 100%;
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.headerDiv {
    flex-basis: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerChild {
    height: 90%;
    background-color: white;
    border: solid 2px whitesmoke;  
}

.headerSmallerChild {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.headerBiggerChild {
    flex-basis: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.timeIcon {
    color: gray;
    font-size: 30px;
    padding-right: 5px;
}

.bedDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.regulationUl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.reservBtn {
    background-color: #4ABBA9;
    color: white;
    border: none;    
    width: 100%;
    font-weight: bold;
}

.reservBtn:hover {
    background-color: rgb(107, 214, 196);
    border: none;
}

.content {
    flex-basis: 70%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.roomsDiv {
    height: 95%;
    flex-basis: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.roomsRow {
    flex-basis: 70%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.roomCard {
    width: 25%;
    height: 90%;
    margin-top: 5px;
}

.cardRoomItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.bedPagination {
    flex-basis: 15%;
    width: 100%;
}


.modalBtn {
    background-color: #4ABBA9;
    border: none;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: large;
}

.modalBtn:hover {
    background-color: rgb(107, 214, 196);
    border: none;
}

.bedModal {
    border: solid 1px rgb(107, 214, 196);
}

.hospitalImg {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-self: center;
}
