$color_primary: #4ABBA9;
$color_primary_light: #E1FCF7;
$color_accent: #28303A;
$color_accent_light: #BCBCBC;
$color_accent_lighter: #f2efef;
$color_google_btn: #C94131;


body, html{
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  //font-family: 'El Messiri', sans-serif;
  //font-size: 1.09rem;
  //font-family: 'Sriracha', cursive;
  //font-family: 'Notable', sans-serif;
  //font-family: 'Staatliches', cursive;
  //font-family: 'MuseoModerno', cursive;
  //font-family: 'Piedra', cursive;
  //font-family: 'Odibee Sans', cursive;
  //font-family: 'Libre Baskerville', serif;
}

#root{
  height: 100%;
  width: 100%;

}



