$color_primary: #4ABBA9;
$color_primary_light: #E1FCF7;
$color_accent: #28303A;
$color_accent_light: #BCBCBC;


body, html{
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

#root{
  height: 100%;
  width: 100%;

}



