@import "main";

.x-container-profile {
  display: flex;
  height: 100%;
  flex-direction: column;
  //overflow-y: scroll;
  //background-color: black;
}

.x-content {
  display: flex;
  width: 100%;
  padding: 1em;
  flex-direction: column;
  overflow: auto;
}

.pharmacy-info-card, .pharmacy-admin-info-card{
  display: flex;
  border: $color_primary 0.101em solid;
  border-radius: 1em;
  padding: 1em;
  height: fit-content;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1em;
}

.x-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.x-btn{
  border: none;
  background-color: $color_primary;
  color: white;
  font-weight: bold;
  border-radius: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}


.form-input {
  border-radius: 1.5em;
  border-style: solid;
  border-width: 0.126em;
  border-color: $color_primary_light;

  outline: none !important;

  padding-left: 1.1em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;

  //margin-top: 1em;
  //margin-bottom: 1em;
}

.form-input:focus {
  outline: none;
  border: 0.126em solid $color_primary;
}

.location-container, .admin-name-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  div {
    flex-grow: 0.5;
    margin-right: 1.5em;

  }
}


.has-delivery-constainer, .max-time-limit-constainer{
  margin-top: 0.25em;
  label {
    margin-right: 0.5em;
  }
}

.phones-card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1em ;
  //align-items: st;
  .form-input{
    margin-top: 0.5em;
    margin-bottom: 0.5em;

  }
}

.x-btn-rounded {
  border: none;
  background-color: $color_primary;
  color: white;
  font-weight: bold;
  border-radius: 2em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  //margin-left: 1em;
}

.dropdown-menu {
  height: 9em;
  overflow-y: scroll;

}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
  background-color: $color_primary;
  font-weight: bold;
  border:none ;
  border-color: $color_primary_light;
  color: white;
  outline: none !important;
  //border-radius: 0.75em;
}

.dropdown-toggle, .dropdown-toggle:hover, .dropdown-toggle:focus, .dropdown-toggle,.btn-primary:disabled{
  background-color: $color_primary;
  color: white;
  font-weight: bold;
  border-color: $color_primary_light;
  padding-right: 2em;
  padding-left: 2em;
  border-radius: 0.75em;
  //outline: none !important;
}
