@import "main";

.working-hours-container {
  display: flex;
  flex-direction: row;
  //justify-content: center;
  flex-wrap: wrap;
  //align-items: center;
}

.day-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.75em;
  //justify-content: space-between;

}

.time-picker{
  width: fit-content;
  margin-left: 1em;
  margin-right: 1em;
}

//.days-content{
//  //width: fit-content;
//  flex-wrap: wrap;
//  display: flex;
//}
//.row-container{
//  display: flex;
//  flex-direction: row;
//  margin-top: 0.75em;
//  width: 83%;
//}
